<div class="jumbotron text-center">
	<p>Create a Topic</p>


	
	<form name="topicForm" ng-submit="submitForm(topicForm)" ng-style="{ 'width' : '500px', 'margin-left': '400px'}" >
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : topicForm.topicForm.createdBy.$invalid && !topicForm.topicForm.createdBy.$pristine }">
            <label>User name</label>
            <input type="text" name="createdBy" class="form-control" ng-model="topicForm.createdBy" ng-maxlength="50">
            <p ng-show="topicForm.topicForm.createdBy.$error.maxlength && !topicForm.topicForm.createdBy.$pristine" class="help-block">Username is too long.</p>
        </div>
            
        <!-- Title -->
        <div class="form-group" ng-class="{ 'has-error' : topicForm.title.$invalid && !topicForm.title.$pristine }">
            <label>Title*</label>
            <input type="text" name="title" class="form-control" ng-model="topicForm.title" ng-maxlength="55"  required>
            <p ng-show="topicForm.title.$error.maxlength && !topicForm.title.$pristine" class="help-block">Title is too long.</p>
            <p ng-show="topicForm.title.$error.required && !topicForm.title.$pristine" class="help-block">Title is required.</p>
        </div>
        
        <!-- Content -->
        <div class="form-group" ng-class="{ 'has-error' : topicForm.content.$invalid && !topicForm.content.$pristine }">
            <label>Content*</label>
            <textarea  name="content" class="form-control" ng-model="topicForm.content" ng-maxlength="255" ng-style="{ 'height' : '200px'}" required></textarea>
            <p ng-show="topicForm.content.$error.maxlength && !topicForm.content.$pristine" class="help-block">Content is too long.</p>
            <p ng-show="topicForm.content.$invalid && !topicForm.content.$pristine" class="help-block">Content is required.</p>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
    <h4>{{ message }}</h4>
    
</div>